{% comment %}
https://community.shopify.com/c/Shopify-Design/Challenge-Step-account-challenge-style/td-p/311815
{% endcomment %}

<div class="shopify-challenge">

	{{ content }}

</div><!-- div.shopify-challenge -->